<div class="container" *ngIf="searchForm">
    <p> </p>
    <div>
        <form [formGroup]="searchForm" novalidate (ngSubmit)="submit(searchForm)">
            <div class="properties" formArrayName="properties">
              <div *ngFor="let prop of (searchForm|getFormArrayControls:'properties')?.controls; let i = index" class="property">
                <strong>Properties {{ i }}</strong>
                <div [formGroupName]="i" class="row col-md-12">
                    <select formControlName="desg" class="form-control col-md-2">
                        <option value="CEO">CEO</option>
                        <option value="CTO">CTO</option>
                        <option value="CMO">CMO</option>
                        <option value="Project Manager">Project Manager</option>
                    </select>
                    <input formControlName="name" type="text" class="form-control col-md-3" placeholder="Name">
                    <div formArrayName="socialMediaLinks">
                      <div *ngFor="let links of (prop|getFormArrayControls:'socialMediaLinks')?.controls; let j = index">
                        <div [formGroupName]="j" class="link-block row col-md-12">
                          <select formControlName="socialMediaCategory" class="form-control col-md-2">
                            <option value="LinkedIn">LinkedIn</option> 
                            <option value="Facebook">Facebook</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Github">Github</option>
                          </select>
                          <input formControlName="link" type="text" class="form-control col-md-3" placeholder="Link">
                          <div *ngIf="links.get('link')?.hasError('required')">Required Test</div>
                          <button class="btn btn-add btn-links" type="button" (click)="onAddSocialMediaLink(prop)">Add More Links</button>
                          <button class="btn btn-del btn-links" type="button" *ngIf="(prop|getFormArrayControls:'socialMediaLinks')?.controls" (click)="onDelSocialMediaLink(prop, j)">Delete</button>
                        </div>
                      </div>
                    </div>                  
                </div>
                <button class="btn btn-del" type="button" *ngIf="(searchForm|getFormArrayControls:'properties')?.controls" (click)="onDelProperty(i)">Delete properties</button>
              </div>
            </div>
            <p>
            </p>
            <button class="btn btn-add" type="button" (click)="onAddProperty()">Add More properties</button>
            <br>
            <br>
            <button class="btn" type="submit">submit</button>
        </form>
    </div>
  </div>